{% load extratags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Новостной блог</h1>
    {% regroup articles by pub_date  as datearticles%}
    {% for datearticle in datearticles %}
        {% now "DATE_FORMAT" as currentdate %}
        {% if datearticle.grouper|date:'DATE_FORMAT'  == currentdate %}
            {% comment %}
                Выводит новости за сегодняшний день
            {% endcomment %}
            <h4>За сегодня</h4>
            {% for article in datearticle.list %}
                <h2>{{ article.headline|title }}</h1>
                <h5>{{ article.pub_date|date:'G:i' }} {{ article.reporter }}</h5>
                <p>{{ article.content }}</p>
            {% endfor %}
        {% else %}
            {% for article in datearticle.list %}
                <h2>{{ article.headline|title }}</h1>
                <h5>{{ article.pub_date|date:'j F Y' }} {{ article.reporter|title }}</h5>
                <p>{{ article.content }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
</body>
</html>